---
import Layout from "../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const works = await getCollection("works");

  return works
    .filter((work) => !work.data.behanceUrl)
    .map((work) => ({
      params: { id: work.id },
      props: { work },
    }));
}

const { work } = Astro.props;
const { Content } = await render(work);
---

<Layout title={work.data.title}>
  <h1>{work.data.title}</h1>
  <Image src={work.data.cover} alt={work.data.coverAlt} />
  <Content />
</Layout>
