---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Certificate from "../components/Certificate.astro";
import Work from "../components/Work.astro";
import certificates from "../content/certificates.json";
import ArticleIcon from "../assets/images/svg/article-icon.svg";
// import MentorIcon from "../assets/images/svg/mentor-icon.svg";
import ProcessIcon from "../assets/images/svg/process-icon.svg";
import Portrait from "../assets/images/svg/portrait.svg";
import Blob from "../assets/images/svg/blob.svg";
import Crown from "../assets/images/svg/crown.svg";
import Rhomb from "../assets/images/svg/rhomb.svg";

const works = await getCollection("works");
---

<Layout
  title="UX&UI Designer for Inclusive Tech"
  description="Fintech-focused interface designer with 4 years of experience in accessible web and mobile design."
>
  <section id="hero">
    <h1
      class="text-[9svw] font-bold mb-[.42lh] flex flex-wrap gap-x-[.4em] relative md:text-[6svw] md:justify-end 2xl:text-8xl/snug"
      style="view-transition-name: hero-title;"
    >
      <span class="ms-[31svw] md:ms-0 md:relative"
        >UX&UI
        <Rhomb
          aria-hidden="true"
          stroke="currentColor"
          class="hidden md:w-[.66em] md:aspect-[7/8] md:absolute md:block"
        />
      </span>
      <span class="ms-auto relative md:ms-0 md:me-auto"
        >designer
        <Crown
          aria-hidden="true"
          stroke="currentColor"
          class="w-[1em] aspect-square absolute top-0 right-0 -translate-y-3/4 md:hidden"
        />
      </span>
      <span class="ms-[48svw] md:ms-[24svw] 2xl:ms-[5em]">for</span>
      <span class="ms-auto md:ms-0">inclusive</span>
      <span>tech</span>
      <span class="ms-auto relative md:ms-0"
        >solutions
        <Rhomb
          aria-hidden="true"
          stroke="currentColor"
          class="w-[.66em] aspect-[7/8] absolute top-0 left-0 -translate-x-3/2 md:hidden"
        />
      </span>

      <span aria-hidden="true" class="absolute w-full -z-1">
        <Blob
          style="fill: var(--color-accent);"
          class="w-[72svw] max-h-[78svw] aspect-[7/8] absolute -top-8 -left-6 md:w-[42%] md:-left-10 md:top-0"
        />
        <Portrait
          stroke="currentColor"
          class="w-[36svw] aspect-[7/8] absolute top-2 md:w-[27%] md:top-[1.5lh]"
        />
      </span>
    </h1>

    <p class="mb-4 text-light z-1 relative md:w-[min(30em,_72%)] md:ms-auto">
      I'm an interface designer with 4 years of experience, specializing in
      creating user-friendly financial interfaces for web and mobile.
      <Crown
        aria-hidden="true"
        width="56px"
        stroke="currentColor"
        class="hidden md:block md:absolute md:top-0 md:left-0 md:aspect-square md:-translate-x-3/4 md:-translate-y-full"
      />
    </p>
    <p class="text-light z-1 relative md:w-[min(30em,_72%)] md:ms-auto">
      I'm dedicated to creating technology accessible to everyone and I enjoy
      helping design teams grow by mentoring junior designers and sharing my
      knowledge.
    </p>
  </section>

  <section id="work">
    <h2 class="heading-m">Work</h2>
    <ul class="flex flex-col gap-y-section-sm">
      {works.map((work) => <Work data={work.data} id={work.id} />)}
    </ul>
  </section>

  <section id="about">
    <h2 class="heading-m">About</h2>
    <div class="grid gap-7.5 sm:grid-cols-2 md:gap-10">
      <p class="col-span-full w-[min(30em,_100%)] text-pretty">
        I am a designer who puts <span
          id="text-underline"
          class="relative inline-block"
        >
          people&nbsp;first&nbsp;</span
        >— whether they are end-users or team members. My approach combines
        empathy with an iterative design process to create thoughtful and
        enjoyable user experiences. Collaborating closely with business
        analysts, developers, and QA teams, I foster a creative environment that
        leverages diverse insights. This teamwork results in innovative
        solutions that align with both user needs and business objectives.
      </p>
      <article class="relative bg-accent card rounded-xl">
        <h3 class="heading-s mb-10">Design process</h3>
        <p>
          I use the Double Diamond framework to ensure my design process is both
          user-centered and solution-oriented. This approach divides the design
          journey into four distinct phases: Discover, Define, Develop, and
          Deliver.
        </p>

        <ProcessIcon
          aria-hidden="true"
          width="20%"
          stroke="currentColor"
          class="aspect-video absolute top-8 right-13"
        />
      </article>

      <article class="relative bg-accent card rounded-xl">
        <h3 class="heading-s mb-10">How I mentor</h3>
        <p>
          I focus on giving clear, practical advice to help my mentees succeed.
          I believe kindness is key to building trust and strong relationships.
          My goal is to support and empower my mentees, always putting their
          growth and well-being first.
        </p>
        <!-- <MentorIcon
          aria-hidden="true"
          width="10%"
          stroke="currentColor"
          class="aspect-square absolute bottom-4 right-4"
        /> -->
      </article>

      <section class="col-span-full mt-7.5 md:mt-10">
        <h3 class="heading-s mb-5">Certifications</h3>

        <ul
          class="text-balance leading-5 grid gap-5 md:grid-cols-2 md:gap-x-10 md:gap-y-7.5"
        >
          {
            certificates.map((certificate) => (
              <Certificate data={certificate} />
            ))
          }
        </ul>
      </section>
    </div>
  </section>

  <section id="articles">
    <h2 class="heading-m">Talks&Articles</h2>
    <ul class="grid gap-7.5 md:grid-cols-2">
      <li
        class="flex items-end aspect-video relative bg-grey rounded-xl card has-hover:bg-indigo-300 transition"
      >
        <a
          href="https://www.linkedin.com/pulse/future-accessibility-devexperts-anastasiya-pavlyk-dx1zf/"
          target="_blank"
          class="text-[clamp(1.125rem,calc(0.8rem+1.6svw),2.5rem)] mb-0 after:absolute after:inset-0 hover:underline"
          >The Future of Accessibility at&nbsp;Devexperts
        </a>
        <ArticleIcon
          aria-hidden="true"
          width="10%"
          stroke="currentColor"
          stroke-width="2"
          class="aspect-square absolute top-6 right-10"
        />
      </li>
      <li class="aspect-video overflow-hidden rounded-xl w-full">
        <iframe
          class="w-full h-full"
          loading="lazy"
          src="https://www.youtube-nocookie.com/embed/uyA54-uiUHc?si=mDuFcIrUk8G-U9m8"
          title="Design for Accessibility. YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </li>
    </ul>
  </section>

  <script>
    import("../scripts/scroll-menu.js");
  </script>
</Layout>
