---
const { title } = Astro.props;

import "../styles/global.css";
import Linkedin from "../assets/images/svg/linkedin.svg";

const isHomePage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Apavlyk Portfolio</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="view-transition" content="same-origin" />
  </head>
  <body class="md:text-lg lg:text-xl xl:text-2xl">
    <header
      id="header"
      class="wrapper text-em-sm flex justify-between items-center gap-4 font-semibold sticky top-0 bg-secondary z-6 py-3"
    >
      <a href="/" aria-label="Home Page"
        ><span aria-hidden="true">Anastasiya Pavlyk</span></a
      >
      <nav
        id="mobile-menu"
        class="absolute top-0 right-0 bg-white hidden flex flex-col gap-[1em] p-8 opacity-0 translate-x-full data-[open=true]:opacity-100 data-[open=true]:translate-x-0 transition-opacity duration-1700 delay-500 lg:static lg:contents"
        aria-label="Primary"
        data-open="false"
      >
        <ul
          class="flex flex-col gap-[1em] leading-none *:flex [&_a]:px-[1em] [&_a]:py-[.66em] [&_a]:rounded-full [&_a]:hover:bg-accent [&_a]:transition-colors lg:flex-row"
        >
          <li>
            <a href={isHomePage ? "#work" : "/"}>
              {isHomePage ? "Work" : "Home"}</a
            >
          </li>
          <li><a href="/#about">About</a></li>
          <li>
            <a href="/#articles">Talks&Articles</a>
          </li>
        </ul>
        <a
          href="https://www.linkedin.com/in/anastasiya-pavlyk/"
          target="_blank"
          class="flex flex-row-reverse items-center gap-x-2.5 ps-[1em] lg:ps-0"
        >
          <span>Let's connect</span>
          <Linkedin
            aria-label="LinkedIn Profile"
            fill="currentColor"
            class="w-7 max-w-[45px] aspect-square"
          />
        </a>
      </nav>
      <button
        id="header-btn"
        aria-label="Toggle menu"
        aria-controls="mobile-menu"
        aria-expanded="false"
        class="cursor-pointer lg:hidden"
      >
        <svg
          width="45"
          height="45"
          viewBox="0 0 45 45"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11 17.7971C15 17 23.1497 14.0369 35 17.7971"
            class="stroke-current"
            stroke-linecap="round"></path>
          <path
            d="M11 24.229C14.0624 22.1377 23.1497 20.5826 35 23.0921"
            class="stroke-current"
            stroke-linecap="round"></path>
          <path
            d="M11 29.4248C16.5 28.4248 25 27.4248 35 29.2219"
            class="stroke-current"
            stroke-linecap="round"></path>
        </svg>
      </button>
    </header>
    <main id="main" class="wrapper pt-16">
      <slot />
    </main>
    <footer
      id="footer"
      class="wrapper grid grid-cols-2 sm:grid-cols-3 items-center gap-4 text-em-sm pb-4"
    >
      <a
        href="#main"
        class="order-3 justify-self-end sm:justify-self-center font-semibold"
        ><svg
          class="inline aspect-[5/4] me-[.66em]"
          style="height: min(1.2em, 24px)"
          aria-hidden="true"
          viewBox="0 0 32 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.4491 25C27.1523 4.3577 1 6.59398 1 14.5651C1 25 27.4491 17.2513 27.4491 1M27.4491 1L23.5313 4.3577M27.4491 1L31 3.68623"
            class="stroke-current stroke-2"
            stroke-linecap="round"></path>
        </svg>Go up</a
      >
      <svg
        aria-hidden="true"
        viewBox="0 0 38 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="col-span-2 sm:col-span-1 justify-self-end sm:order-last aspect-[6/5]"
        style="width: min(10svw, 56px)"
      >
        <path
          d="M3.7728 2.66708C13.3481 -1.4078 19.1095 12.7022 19.6998 12.763C20.2901 12.8239 28.0103 -1.89431 35.4311 1.51156C42.852 4.91742 21.6441 32.2561 19.6998 30.955C11.8734 25.7182 -5.80251 6.74196 3.7728 2.66708Z"
          class="stroke-current"
          stroke-linecap="round"></path>
      </svg>
      <p class="sm:order-first">
        Developed by <a href="https://weblateweb.dev/" target="_blank"
          >weblate</a
        >
      </p>
    </footer>
  </body>
</html>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleButton = document.getElementById("header-btn");
    const menu = document.getElementById("mobile-menu");

    if (toggleButton && menu) {
      const toggleMenu = () => {
        const isHidden = menu.classList.toggle("hidden");
        toggleButton.setAttribute("aria-expanded", String(!isHidden));
        menu.setAttribute("data-open", String(!isHidden));
      };

      toggleButton.removeEventListener("click", toggleMenu);
      toggleButton.addEventListener("click", toggleMenu);
    }
  });
</script>
